<menu-comp></menu-comp>
<div class="MainContent form-horizontal firstDivAddEditList">

	<div class="pageTitle">
		<span><h1>Assets</h1></span>
		<!-- <button id='add' class='btn btn-primary' routerLink="/assets/add">Add New</button> -->
	  		<button id='search' class='btn btn-info' routerLink="/assets/search">Search</button>
  </div>

	<div style=""> 
	<table class="table" *ngIf="assets">
	<tr>
		<th>Name</th>
		<th>Vendor</th>
		<th>Asset Cost</th>
		<th>Purchase Order Number</th>
		<th>Location</th>
		<th>PhotoPath</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let asset of assets">
		<td>{{asset.Name}}</td>
		<td>{{asset.Vendor}}</td>
		<td>{{asset.AssetCost}}</td>
		<td>{{asset.PurchaseOrderNumber}}</td>
		<td>{{asset.Location.Name}}</td>
		<td>{{asset.PhotoPath}}</td>
		<td>
			<a routerLink="/assets/detail/{{asset.Id}}">Detail/Edit</a>
		</td>
	</tr>
	</table>

	</div>
</div>
